.description {
  line-height: 26px;
}

.description p {
  margin-top: 26px;
}

.description ul {
  list-style-type: disc;
  padding-left: 16px;
}

.description ul li {
  padding-left: 36px;
}

.description ul li p {
  margin-top: 8px;
}
